html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
    padding: 0 3rem;
    box-sizing: border-box;
}

#hero-section {
    position: relative;
    flex: 1;
}

#hero-subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    margin: 0;
    white-space: nowrap;
    color: #000;
    font-size: 4rem;
}

#hero-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);

    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-bottom: 3rem;
}

#brand-name {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.hook-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    margin-top: 6rem;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.hook-button:hover {
    background: #f5c518;
    border: 1px solid #f5c518;
    color: #fff;
}